/* slider class that contain corousel images with a background */
body {
  --blue-color: #08415c;
  --red-color: #cc2936;
  --light-color: #eee5e9;
  --peach-color: #f1bf98;
  --gray-color: #6b818c;
}
.slider {
  background-image: url("images/slider-images/autoparts.webp");
  background-size: 40em 14em;
}
/* this class is used for giving bg-color in the slider */
.corousel-bg {
  top: 0em;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 65, 92, 0.93);
}
/* autoparts pictures */
.carousel-item {
  z-index: 1;
}
/* Usp text on left in corousel */
.usp {
  top: 45%;
  z-index: 2;
  color: var(--light-color);
  left: 2%;
}
@media screen and (max-width: 520px) {
  .usp {
    top: 30%;
    font-size: 1.6rem;
  }
}
/* for all h1 headings in body  */
h1 {
  font-family: "Roboto Slab", serif;
  color: var(--blue-color);
}
h2 {
  color: var(--red-color);
  font-family: "Roboto Slab", serif;
}
.category-sec {
  background-color: rgba(107, 129, 140, 0.3);
}
/* buttons */
.btn {
  background-color: var(--blue-color);
  color: var(--light-color);
}
